@import "tailwindcss";

* {
  box-sizing: border-box;
}

@theme {
  --color-bg: #f2f0f1;
  --color-bg-image: #fcfcfc;
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  cursor: pointer;
  pointer-events: auto;
  border-radius: 100%;
  background-color: #1c1917;
  border: none;
}

input[type="range"]::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  cursor: pointer;
  pointer-events: auto;
  border-radius: 100%;
  background-color: #1c1917;
  border: none;
}
